<div class="container">
  <h2>List Of Books</h2><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let item of listOfBooks">
      <td contenteditable='true' #title (blur)="changeTitle(title, item)">{{item["title"]}}</td>
      <td contenteditable='true' #author (blur) = "validateEmptyString(author.textContent, item['author'], author)">
        {{item["author"]}}</td>
      <td contenteditable='true' #date (blur) = "validateDate(date, item)">{{item["date"] | date}}</td>
      <td><button (click) = "deleteItem(item)">DELETE</button></td>
    </tr>
    </tbody>
  </table>
</div>
